* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Circular Std",sans-serif;
    display:flex; 
    flex-direction:column; 
}
#header {
    height: 80px;
    background-color: #e0d1b2;
    box-shadow:0px 2px 4px rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    opacity: 0.8;
}
#header:hover {
    opacity: 1;
}
#logo__main, #logo__main2, .native , #user__container {
    text-decoration: none;
    cursor: pointer;
    margin: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255); 
    font-family: "Circular Std",sans-serif;
    border: 0px solid black;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}
#logo__main:hover, #logo__main2:hover, .native:hover {
    color:rgba(2, 53, 25, 0.555);
    opacity: 1;
    font-weight: bolder;
}

.native:hover {
    background-color: rgb(255, 255, 255);
    opacity: 1;
    font-weight: bolder;
}

#logo__main {
    position: absolute;
    left: 0;
    background-color: none;
    font-weight: 550;
}
#logo__main2 {
    position: absolute;
    left: 0;
    background-color: none;
    font-weight: 550;
    cursor: pointer;
    display: none;
}

#log {
    border-left: 1px solid rgb(173, 131, 24) ;
    border-right: 1px solid rgb(173, 131, 24) ;
    padding: 10px;
}


#user__container {
    position: absolute;
    right: 0;
    justify-content: space-evenly;
}
video {
    width: 100%;
}

#cata {
    display: none;
    cursor: pointer;
    position: relative;
}

#cata:hover  .drop_content {
    display: block;
}

.drop_content {
    border:0.5px solid rgb(173, 131, 24);
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    top:30px;
    
}

#dropMenu {
    border:0px solid rgb(173, 131, 24);
    background-color: #ffffff;
    color: rgb(173, 131, 24);
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
  }
  #dropMenu:hover {
    background-color:rgb(173, 131, 24);
    color: white;
    font-weight: bolder ;
  }




#mainPageFashion {
    width: 100%;
    height: auto;
    display: block;
    
}
#fashionSelections{
    width: 100%;
    font-size: 50px;
    color: rgb(190, 143, 24);
    display: block;
   
}
 
#womenFashion {
    width: 90%;
    display: flex;
    height: auto;
    float: left;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    border: 3px solid #e7dfcf;
    padding: 20px;
    margin: 20px;
    padding-left: 0px;
    border-radius: 15px;
}
#imgWomenFashion {
    width: 50%;
   
    align-items: center;
    
}


#WFcontainer {
    border: 2px solid black;
    width: 30px;
    height: 30px;
    
}





#menFashion {
    float: right;
    width: 90%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    border: 3px solid #e7dfcf;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    padding-right: 0;
    border-radius: 15px;
}

#imgMenFashion {
    width: 50%;
    align-items: center;
}

#MFcontainer {
    border: 2px solid black;
    width: 30px;
    height: 30px;
}




#mainFooter {
    width: 100%;
    
    background-color: rgb(255, 255, 255);
  
    
}

.contact__container {
    width: 100%;
    height: 180px;
    background-color: rgb(248, 231, 183);
    color: white;
    text-align: center;
}
#copyrightInfo {
    width: 100%;
    height: 74px;
    background-color: rgb(160, 123, 0);
    color: white;
    text-align: center;
}

#cata {
    display: none;
}



/* MEDIA SCREEN */


@media only screen and (max-width: 600px) {
    #fashionSelections { 
           font-size: 30px;
    }

#header a {

    font-size: 10px;
}
#header {
    height: 50px;
}
#logo__main {
    display: none;
}
#logo__main2 {
    display: inline-block;
}
}




@media only screen and (max-width: 1000px) {
 .native {

     display: none;
    }
#cata {
    display: inline-block;
}
.info {

    display: none;
}
#log {
    display: inline-block;
}
    
    #header a {

        font-size: 15px;
        
    }
}





@media only screen and (max-width: 1300px) {
.info {
    font-size: 16px;
}
.native {

    display: none;
}
#cata {
display: inline-block;
font-weight: bolder;
}
}
